@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Script{

	<script type="text/javascript">
		$(document).ready(function () {

			function.loadComment(){
				$("#loading").show();

				$.ajax{
					type: "GET",
						url: "/VisitorAjax/VisitorCommentList",
								succsess: function(data) {

								$("#comments").html("")
									console.log(data);

									$.each(data, function (index, item) {

										let comment = `	<div class="card-mt-3">
										<div class="card-body">
													<h5 class="card-title">${item.Name}</h5>
													<h6 class="card-subtitle mb-2 text-muted">${item.Created}</h6>
													<p class="card-text">${item.Comment}</p>
										</div>

									</div>`

									$("#comments").append(comment);
									})

								$("#loading").hide();

								},
					error: function(error) {
						console.log(error);

					}

				}
			}
			loadComments();


			$("#btnSave").click(function () {


				var name = $("#Name").val();
				var comment$("#Comment").val();

				var jsonData = { "name": name, "comment": comment };

				$.ajax{
					type: "Post",
						url: "/VisitorAjax/SaveVisitorComment",
							data: jsonData,
								succsess: function(data) {
									console.log(data);
								},
					error: function(error) {
						console.log(error);

					}

				}

			})
		})



	</script>

}

<div class="mb-3">
	<label for="Name" class="form-label">İsim</label>
	<input class="form-control" id="Name" name="Name" />
</div>
<div class="form-floating mb-3">
	<textarea for="Comment" class="form-control" placeholder="Yorum" style="height:100px"></textarea>
	<label id="Comment" name="Comment">Yorum</label>
</div>
<button id="btnSave" type="button" class="btn btn-primary">Kaydet</button>

<div id="loading">
	<div class="spinner-border" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>
<div id="comments">

</div>

